:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: var(--Light-gray);
	font-size: 15px;
	font-family: sans-serif;
}

.code{
	width: 450px;
	background-color: white;
	color: var(--Grayish-blue);
	border-radius: 20px;
	margin: 50px auto;
}

.title{
	color: var(--Dark-blue);
	font-weight: 700;
	font-size: 30px;
}

.description{
	font-size: 15px;
}

.QR-img{
	width: 100%;
	line-height: 20px;
	padding: 10px;
	border-radius: 10%;
}

.container{
	padding: 30px;
}
